# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.project
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Flutter/Dart/Pub-related
**/doc/api/
**/ios/Flutter/.flutter-plugins
**/ios/Flutter/.flutter-plugins-dependencies
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android-specific
/android/app/local.properties
/android/app/generated_envs.json
/android/Flutter/local.properties
/android/.gradle/
/android/local.properties